<% if notice %>
  <div class="alert alert-success" role="alert">
    <%= notice %>
  </div>
<% end %>

<h3>Scrapes</h3>

<br>

<table class="table">
  <thead>
    <tr>
      <th>Url</th>
      <th>Created At</th>
      <th>Status</th>
      <th># Images</th>
      <th>Largest image</th>
      <th>Show</th>
      <th>Destroy</th>
    </tr>
  </thead>

  <tbody>
    <% @scrapes.each do |scrape| %>
      <tr>
        <td><%= scrape.url %></td>
        <td><%= scrape.created_at %></td>
        <td><%= scrape.status %></td>
        <td><%= scrape.images.count %></td>
        <td><%= scrape.largest_image %></td>
        <td><%= link_to 'Show', scrape %></td>
        <td><%= link_to 'Destroy', scrape, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h5>New Scrape</h5>

<%= form_with(model: @scrape, local: true) do |form| %>
  <% if @scrape.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@scrape.errors.count, "error") %> prohibited this scrape from being saved:</h2>

      <ul>
      <% @scrape.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :url, "URL" %>
    <br>
    <%= form.text_field :url, placeholder: "https://nfl.com" %>
  </div>

  <br>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
