<h1>New Scrape</h1>

<%= form_with(model: @scrape, local: true) do |form| %>
  <% if @scrape.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@scrape.errors.count, "error") %> prohibited this scrape from being saved:</h2>

      <ul>
      <% @scrape.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Back', scrapes_path %>
