<p id="notice"><%= notice %></p>

<h2>Image from <%= @image.scrape %></h2>

<br>

<a href="<%= @image.image_url %>"><%= @image.image_url %></a>

<br><br>

<img src="<%= @image.image_url %>">

<br>

<%= link_to 'Back', images_path %>
