<!DOCTYPE html>
<html>
  <head>
    <title>ImageScraper</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul style="text-align: center">
      <li style="display: inline; margin-right: 30px"><a href="<%= scrapes_path %>">Scrapes</a></li>
      <li style="display: inline"><a href="<%= images_path %>">Images</a></li>
    </ul>  
    <%= yield %>
  </body>
</html>
